@model SuperCharactersApp.ViewModels.DTO.CharacterViewModels.CharacterCreateViewModel

@{
    ViewData["Title"] = "Create";
    int maxNumberSuperpowersPerCharacter = 3;

}

<main class="mt-3">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form class="register-form form-row text-center" name="createCharacter" method="post" asp-controller="Character" asp-action="Create">
        <div class="row col-md-12">
            <div class="form-group col-md-3 ">
                <label asp-for="CharacterType">Character type</label>
                <input method="post" list="characterTypes" name="characterType" type="text" class="form-control" placeholder="Character type...">
                <datalist id="characterTypes">
                    <option value="Superhero" name="Superhero"></option>
                    <option value="Supervillain" name="Supervillain"></option>
                </datalist>
                <span asp-validation-for="CharacterType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Armour"></label>
                <input asp-for="Armour" type="number" class="form-control" name="armour" placeholder="Armour...">
                <span asp-validation-for="Armour" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="HitPoints">Hitpoints</label>
                <input asp-for="HitPoints" type="number" step="0.1" class="form-control" placeholder="Hitpoints...">
                <span asp-validation-for="HitPoints" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Damage"></label>
                <input asp-for="Damage" type="number" class="form-control" placeholder="Damage...">
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Teams">Select Team</label>
                <select class="form-control" id="Team" name="TeamId">
                    <option value="">Select team...</option>
                    @foreach (var team in @Model.Teams)
                    {
                        <option value="@team.Id" name="TeamId">@team.TeamName</option>
                    }
                </select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="SuperPowers">Select Superpowers</label>
                @for (int i = 0; i < maxNumberSuperpowersPerCharacter; i++)
                {
                    <select class="form-control" id="superpowers" name="SuperPowerId">
                        <option value="">Select Superpower...</option>
                        @foreach (var superpower in @Model.SuperPowers)
                        {
                            <option value="@superpower.Id" name="SuperPowerId">@superpower.SuperPowerName</option>
                        }
                    </select>
                }
            </div>
            <div class="form-group col-md-3">
                <label asp-for="SecretIdentity">Secret identity names</label>
                <div class="col-md-12">
                    <input asp-for="SecretIdentity.FirstName" type="text" class="form-control" placeholder="First name..." />
                </div>
                <div class="col-md-12">
                    <input asp-for="SecretIdentity.LastName" type="text" class="form-control" placeholder="Last name..." />
                </div>
                <span asp-validation-for="SecretIdentity" class="text-danger"></span>
            </div>
        </div>
        <div class="button-holder">
            <button type="submit" id="submit" class="btn btn-outline-primary">Create</button>
        </div>
        <div class="button-holder">
            <button type="button" id="cancel" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
        </div>
    </form>
    <hr />
    <div class="jumbotron ">
        <div class="container">
            <p class="lead">If you can't find your favourite team, you can easily create new team with name of your choice.</p>
            <hr />
            <p class="lead"> Also if you'd like to, you can add new super powers with your own custom values and names.</p>
        </div>
    </div>
    <hr />
    <div class="row col-md-12">
        <div class="col-md-6">
            <partial name="Partials/_AddTeam"
                     model="new SuperCharactersApp.ViewModels.DTO.TeamViewModels.TeamViewModel()">
        </div>
        <div class="jumbotron jumbotron-fluid col-md-6 ">
            <div class="container">
                <p class="lead">Note: </p>
                <hr />
                <p class="lead">Adding new team or new superpower will reaload the page.</p>
            </div>
        </div>
    </div>
    <hr />
    <partial name="Partials/_AddSuperPower"
             model="new SuperCharactersApp.ViewModels.DTO.SuperPowerViewModels.SuperPowerViewModel()">
</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script>
    cancelForm = function () {
        window.location.replace('/Home/Index')
    }
</script>