@model SuperCharactersApp.ViewModels.DTO.CharacterViewModels.CharacterViewModel
@*@{
    var maxNumberSuperpowersPerCharacter = 3;
}*@

<!-- Modal -->
<div class="modal fade" id="editCharacter-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Details of Character</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="register-form form-row text-center" name="createCharacter" method="post" asp-controller="Character" asp-action="Edit">
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label asp-for="CharacterType">Character type:</label><br />
                            <input asp-for="CharacterType" method="post" value="@Model.CharacterType" name="characterType" type="text" class="form-control" placeholder="Character type...">
                            <span asp-validation-for="CharacterType" class="text-danger"></span>
                            <hr />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Armour">Armour:</label><br />
                            <input asp-for="Armour" type="number" value="@Model.Armour" class="form-control" name="armour" placeholder="Armour...">
                            <span asp-validation-for="Armour" class="text-danger"></span>
                            <hr />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label asp-for="HitPoints">Hitpoints:</label><br />
                            <input asp-for="HitPoints" type="number" value="@Model.HitPoints" step="0.1" class="form-control" placeholder="Hitpoints...">
                            <span asp-validation-for="HitPoints" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group col-md-6">
                            <label asp-for="Damage">Damage:</label><br />
                            <input asp-for="Damage" type="number" value="@Model.Damage" class="form-control" placeholder="Damage...">
                            <span asp-validation-for="Damage" class="text-danger"></span>
                        </div>
                        <hr />
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label asp-for="Name">Name:</label><br />
                            <input asp-for="Name" type="text" value="@Model.Name" class="form-control" placeholder="Character Name...">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group col-md-6">
                            <label asp-for="Team">Select Team</label><br />
                            <input asp-for="Team.TeamName" type="text" value="@Model.Team.TeamName" class="form-control" placeholder="Team Name...">
                            @*<input asp-for="@Model.Team.Id" name="TeamId" type="hidden" class="form-control" />*@
                            <span asp-validation-for="Team" class="text-danger"></span>
                        </div>
                        <hr />
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label asp-for="SuperPowers">Select Superpowers:</label><br />
                            @foreach (var superpower in Model.SuperPowers)
                            {
                                <input asp-for="@superpower.Id" value="@superpower.SuperPowerName"
                                       name="SuperPowerId" class="form-control">
                            }
                            @if (Model.SuperPowers.Count() == 0)
                            {
                                <input name="SuperPowerId" class="form-control">
                                <input name="SuperPowerId" class="form-control">
                                <input name="SuperPowerId" class="form-control">

                            }

                        </div>
                        <hr />
                        <div class="form-group col-md-6">
                            <label asp-for="SecretIdentity">Secret identity:</label><br />
                            @if (Model.SecretIdentity != null)
                            {
                                <input asp-for="Team" type="text" value="@Model.SecretIdentity.FirstName" class="form-control" placeholder="First Name...">
                                <input asp-for="Team" type="text" value="@Model.SecretIdentity.LastName" class="form-control" placeholder="Last Name...">

                            }
                            else
                            {
                                <div class="col-md-12">
                                    <input asp-for="SecretIdentity.FirstName" type="text" class="form-control" placeholder="First name..." />
                                </div>
                                <div class="col-md-12">
                                    <input asp-for="SecretIdentity.LastName" type="text" class="form-control" placeholder="Last name..." />
                                </div>
                                <span asp-validation-for="SecretIdentity" class="text-danger"></span>
                            }
                        </div>
                        <hr />
                        <input asp-for="Id" name="Id" type="hidden" class="form-control" />
                    </div>
                    <row>
                        <button type="submit" class="btn btn-outline-primary">
                            Save changes
                        </button>
                        <button type="button" onclick="cancelForm()" class="btn btn-outline-secondary">
                            Back
                        </button>
                    </row>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>
    cancelForm = function () {
        window.location.replace('/Character/ListCharacters')
    }
</script>